/** box1 **/
*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 120px;
}
.logo{
    background-image: url("assets/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 120px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

/** box2 **/

.add-first{
    color: #cccccc;
    font-size: 0.85 rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1 rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.border{
    border: 2px solid transparent;
}

/** box3 **/